body {
    margin: 0;
    padding:0;
    overflow: hidden;
    background-image: url('https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    image-rendering: auto;
    background-repeat:no-repeat;
    background-size: cover;
}

#wrap {
    max-width: 50vw;
    padding: 5rem;
    text-align: center;
    margin: 3em 15em;
}

#PIC {
    width: auto;
    max-height: 100px;
    position: absolute;
    opacity: .75;
    z-index: -5;
    right: 0;
    top: 0;
}

#intro{
    -webkit-box-shadow: 6px 5px 24px #666666; 
    -moz-box-shadow: 6px 5px 24px #666666; 
    box-shadow: 6px 5px 24px #666666;
    padding: 1em 3em 2em 3em;
    background-color: whitesmoke;
}

#intro h1 {
    line-height: 2vw;
    white-space: 1em;
    margin: 3vw;
    font-family: 'Montserrat Subrayada', sans-serif;
    line-height: 2px;
    color: #00cc99;
}

#intro p,
h4,
li{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

#intro li {
    margin-left: 1vw;
    list-style: none;
}


.guest, .g-signin2, .space {
    width: 25%;
    float: left;
    -webkit-box-shadow: 6px 5px 24px #666666; 
    -moz-box-shadow: 6px 5px 24px #666666; 
    box-shadow: 6px 5px 24px #666666;
}

.g-signin2 {
    background-color: white;
}

.space {
    height: 2.25rem;
    background-color: white;
    z-index: -10;
    width: 25%;
}

.guest {
    background-color: #00cc99;
    color: white;
    padding: .5rem;
    font-family: 'Roboto';
}

@media only screen and (max-width: 1000px) {
    * {
        margin: 0;
        padding: 0%;
    }

    body {
        background-image: url('https://images.pexels.com/photos/4482936/pexels-photo-4482936.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
        background-size: cover;
    }

    #PIC {
        visibility: hidden;
    }

    #wrap {
        margin: 2rem;
        padding: 3rem;
    }

    .guest{
        width: 75%;
    }
    
    .space {
        width: 0%;
    }
}